* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: url(background1.jpeg);
    /* background-color: black; */
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    background: rgba(255, 255, 255, .1);
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid rgba(255, 255, 255, .2);
    z-index: 1;
}

.logo {
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    margin-left: 35px;

}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);
    transition: 0.3s;
}

.header:hover::before {
    left: 100%;
    width: 100%;
}

.navbar a {
    color: #fff;
    font-size: 25px;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    margin-left: 35px;
}

.navbar a:hover {
    color: turquoise;
}

.intro {
    margin-top: 100px;
    width: 100%;
    height: 100vh;
    background-image: url(lancer/lancer_intro.avif);
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
    display: table;
}

h5 {
    position: relative;
    margin-top: 0;
    display: table-cell;
    vertical-align: middle;
    text-align: center;

}

h3 {
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    height: 30px;
    width: 250px;
    border-bottom: 2px solid goldenrod;
    margin-bottom: 10px;
}

.img1 {
    /* margin-top: 70px; */
    width: 100%;
    height: 100vh;
    background-image: url(lancer/lancer_88.webp);
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
}

.img2 {
    /* margin-top: 70px; */
    width: 100%;
    height: 100vh;
    background-image: url(lancer/lancer_94.webp);
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
}

.img3 {
    /* margin-top: 70px; */
    width: 100%;
    height: 100vh;
    background-image: url(lancer/lancer_2000.jpg);
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
}

.img4 {
    /* margin-top: 70px; */
    width: 100%;
    height: 100vh;
    background-image: url(lancer/lancer_2003.webp);
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
}

.img5 {
    /* margin-top: 70px; */
    width: 100%;
    height: 100vh;
    background-image: url(lancer/lancer_2010.jpg);
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
}

.img6 {
    /* margin-top: 70px; */
    width: 100%;
    height: 100vh;
    background-image: url(lancer/lancer_evo_x.jpg);
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
}

.img7 {
    /* margin-top: 70px; */
    width: 100%;
    height: 100vh;
    background-image: url(lancer/lancer_2016.avif);
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
}

.para {
    color: whitesmoke;
    backdrop-filter: blur(10px);
    padding: 10px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 5px;
}

#menu-icon {
    font-size: 36px;
    color: #fff;
    display: none;
}

/*BREAKPOINTS*/
@media(max-width:992px) {
    .header {
        padding: 1.25rem 4%;
    }
}


@media(max-width:768px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 0.5rem 4%;
        display: none;
        color: #fff;
        z-index: 1;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        margin: 1.5rem 0;
    }

    .nav-bg {
        position: absolute;
        top: 110px;
        left: 0;
        width: 100%;
        height: 295px;
        background: rgba(255, 255, 255, 0.1);
        border-bottom: 2px solid rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(10px);
        display: none;
    }

    .nav-bg.active {
        display: block;
    }
}